
/*--EntirePage--*/

@font-face{
    font-family: '300-museo';
    src:url('assets/fonts/museo/museo-300-webfont.eot');
    src:url('assets/fonts/museo/museo-300-webfont.eot') format('embedded-opentype'),
        url('assets/fonts/museo/museo-300-webfont.woff') format('woff'),
        url('assets/fonts/museo/museo-300-webfont.ttf') format('truetype'), 
        url('assets/fonts/museo/museo-300-webfont.svg') format('svg');
}
@font-face{
    font-family: '500-museo';
    src:url('assets/fonts/museo/museo-500-webfont.eot');
    src:url('assets/fonts/museo/museo-500-webfont.eot') format('embedded-opentype'),
        url('assets/fonts/museo/museo-500-webfont.woff') format('woff'),
        url('assets/fonts/museo/museo-500-webfont.ttf') format('truetype'), 
        url('assets/fonts/museo/museo-500-webfont.svg') format('svg');
}
@font-face{
    font-family: '700-museo';
    src:url('assets/fonts/museo/museo-700-webfont.eot');
    src:url('assets/fonts/museo/museo-700-webfont.eot') format('embedded-opentype'),
        url('assets/fonts/museo/museo-700-webfont.woff') format('woff'),
        url('assets/fonts/museo/museo-700-webfont.ttf') format('truetype'), 
        url('assets/fonts/museo/museo-700-webfont.svg') format('svg');
}

a:visited,
a:hover,
a:active,
a:link{
    color:gray;
    text-decoration: none;
}
a:hover{
    border-bottom:3px white dotted;
}

/*--Body--*/

body{
margin: 20px 50px 50px 50px;
background-image: url(assets/textures/fabric_plaid.png);
font-family:'300-museo';
}

/*--Nav--*/

nav{
    display:flex;
    justify-content: space-between;
}
img[alt="socialmedia"]{
    width:30px;
    border-radius:5px;
    margin-right:10px;
}
.navigationright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navigationleft{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.navspacing:link{
    margin:10px;
}
.linksright{
    font-size: 12px;
    margin-top: 15px;
}
.linksleft{
    margin-left: 15px;
    font-size: 15px;
}
.login:link{
    padding-right: 10px;
    border-right:2px solid lightslategray;
}
.register:link{
    margin-left:10px;
}

/*--Header--*/
header{
    margin-top:30px;
    margin-bottom:30px;
    justify-content: space-between;
}
header,
.headertoprightcolumn{
    display:flex;
}
.myinformation{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    line-height: 0px;
}
.headertoprightcolumn{
    width:auto;
    height:200px;
    align-items: center;
    background-color:white;
    padding:20px;
}
img[alt="profile"]{
    width:30px;
    border-radius:5px;
    margin-right:2px;
}

img[alt="me"]{
    width:auto;
    height:100%;
}

.headerslideshow{
    border: 10px solid white;
    width:auto;
    height: 50vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    background: url(assets/portfolio/bookcover.png);
    background-size: fill;
    background-position:center;
    background-repeat: no-repeat;
}

.arrows{
    display:flex;
    justify-content: space-between;
    margin-left:-30px;
    margin-right:-30px;
    margin-bottom:-40px;
}
.sophie{
    display:flex;
    justify-content: flex-end;
    margin-top:160px;
    background-color:black;
    opacity:0.7;
    font-size:2em;
}
.studentnameandproject{
    color:white;
    margin-right:40px;
}

img[alt="arrow"]{
    width:auto;
    height:100px;
}
.subheadercontainer{
    display:flex;
    font-size:1.5em;
    margin-top: 30px;
    margin-bottom:-20px;
    color:#666666;
}
.leftsideofheader{
    display:flex;
    flex-direction:column;
    width:70vw;
    height:auto;
}
.rightsideofheader{
    width:20vw;
}
.progressofproject{
    display:flex;
    justify-content:space-between;
}
img[alt="progressimage"]{
    width:400px;
    height:200px;
    margin-top:30px;
    border:10px solid white;
}
.headerprojectinformation{
    background-color: white;
    padding:5px 20px 20px 20px;
    margin-top:30px;
}
/*Gallery*/

.gallery{

    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
img[alt="galleryimage"]{
    width:400px;
    height:250px;

}
.toprowgallery,
.middlerowgallery{
    display:flex;
    justify-content: space-between;
    margin:20px 0px;
}

/*--Footer--*/
.footerlargesize{
    margin:20px -80px 20px -50px
}

.footerlargesize,
.farleft,
.themiddle,
.farright{
    display:flex;
    flex-direction:column;
}
.footercolumntop,
.footercolumnbottom,
.searchbar,
.smallnav{
    display:flex;
}
.footerlargesize{
    background-image: url("assets/textures/az_subtle.png");
    background-color:#666666;
    background-blend-mode: overlay;
}
.footercolumntop{
    background-color: #666666;
    justify-content: center;
    align-items:center;
}
h2,
h4{
    color:white;
    margin-right:10px;
}
img[alt="bird"]{
    width:auto;
    height:20px;
    margin:20px;
}
.footercolumnbottom{
    height:auto;
    width:auto;
    margin:10px 10px 80px 40px;
    justify-content: center;
}
.farleft{
    width: auto;
    margin-right:80px;
    justify-content: space-evenly;
}
.smallnav{
    align-items: center;
    justify-content: space-between;
}
h1{
    color:#666666;
    margin-top:30px;
    margin-bottom:0px;
    font-size:18px;
}
h3{
    color:white;
    margin-top:5px;
    font-size: 15px;
}
img[alt="magglass"]{
    height:25px;
    width:auto;
    margin:20px;
}
.searchbar{
    background-color: white;
    align-items: center;
}
.searchinput,
.searchinput:active,
.searchinput:focus{
    border:0px;
    font-size:15px;
    outline:none;
}
::placeholder{
    color:lightgray;
    opacity:1;
}
.themiddle{
    margin-right:60px;
    width:auto; 
}
.footerparagraph{
    color:white;
    margin-bottom:0px;
    line-height:30px;
    width:400px;
}
h5{
    color:#666666;
    margin-top:15px;
}
.farright{
    width:auto;

}
img[alt="galleryimagefooter"]{
    width:110px;
    height:60px;
    object-fit:cover;
}
.footergallery{
    margin-top:20px;
    flex-direction: space-between;
}

/*--mediaqueries--*/

@media all and (max-width: 1100px){
    
    div.farright{
        display: none;
    }
    div.footercolumnbottom{
        width:auto;
    }
    a.navspacing:link{
        margin:2px;
        font-size: 12px;
    }
    .sophie{
        font-size:1.3em;
    }
    .subheadercontainer{
        font-size:1.3em;
    }
    .gallery{
        flex-direction:row;
        justify-content:space-around;
        height:auto;
    }
    img[alt="galleryimage"]{
        width:25vh;
        height:15vh;
        margin:20px;
    }
    .toprowgallery,
    .middlerowgallery{
    flex-direction:column;
    justify-content: space-between;
    }
}